* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 

    background-color: rgb(20, 20, 20);
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
   
}

nav {

    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 6px;
    margin-top: 95px;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 5%
   
}

.profile {

    text-align: center;
    padding: 15px;
    font-family: 'Inter', sans-serif;
   ;

    }
   

    img {

        height: 20px;
        width: auto;
        margin-right: 5px;
       
    }

  .git {

    height: 20px;
    margin-right: 8px;
    width: auto;



    }

.avatar {

    height: 200px;
    width: auto;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 100);
    padding: 3px;
    
}

h1 {
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{

    color: aliceblue;
    margin-top: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    height: 55vh;
    
}

.pro {

    margin-bottom: 35px;
    
    
}

h2 {

    margin-bottom: 5px;
    color: aliceblue;
}



a {

    text-decoration: none;
    color: aliceblue;
}


li {

  list-style: none;

    
}


ul li a {

    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(8, 8, 22);
    margin-bottom: 7px;
    border-radius: 9px;
    padding: 10px;
    transition: background 400ms;
}

ul li a:hover {

    background-color: rgb(1, 1, 110);
}



footer {

text-align: center;
margin-top: 100px;


}

footer:hover {

color: rgb(80, 80, 104);
}





