* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    background: #22212C;
}



img {

    height: 19px;
    margin-right: 5px;

    }

   

.container {

    display: flex;
    gap: rem;
    width: 250px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 15px;
    background: #302F3D;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 3px #00000033;
    font-family: 'Barlow Condensed', sans-serif;
    



}


.avatar {

    height: 150px;
    border-radius: 50%;
    border: 1px solid blue;
    padding: 2px;
    margin-bottom: 6px;

    
}

h1 {

    margin-bottom: 10px;
}



.container2 {

    width: 250px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 15px;
    background: #302F3D;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 3px #00000033;
    font-family: 'Barlow Condensed', sans-serif;

}

h2 {

    margin-bottom: 10px;
}
ul li a {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #22212C;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
   
    

}


ul li a:hover {

    background-color: rgb(0, 2, 107);
    
}



li {

    list-style: none;
}


a {

    text-decoration: none;
}




.container3 {

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 325px;
    bottom: 440px;
    width: 980px;
    text-align: start;
    padding: 15px;
    background: #302F3D;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 3px #00000033;
    height: 100px;
    font-family: 'Barlow Condensed', sans-serif;



}

li a {

    display: flex;
    align-items: center;
    justify-content: start;
    height: 25px;
    background-color: #22212C;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

li a:hover {

    background-color: rgb(0, 2, 107);
}





.container4 {

        width: 250px;
        text-align: center;
        padding: 10px;
        margin-top: 15px;
        margin-left: 35px;
        margin-bottom: 15px;
        background: #302F3D;
        border-radius: 3%;
        box-shadow: 2px 2px 2px 3px #00000033;
        font-family: 'Barlow Condensed', sans-serif;
    
    

}


.tec li{

    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3%;
    font-family: 'Roboto Mono', monospace;
    height: 9px;
    
}

h2 {

    margin-bottom: 2px;
}